* {
    background-color: #f2e9e1;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    outline: 4px solid green !important;
}

/* home */

/* Header css */

header {
    border-bottom: 2px solid #c3a689;
    padding-bottom: 10px;
}

.search-bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 40px;
    border: 1px solid #c3a689;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(13, 11, 9, 0.463);
    display: none;
    opacity: 0;
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.search-bar.active {
    display: flex;
    top: 20px;
    opacity: 1;
    outline: none;
}


.navbar {
    margin: 0 !important;
    padding: 0 !important;
}



.navbar-nav {
    display: flex;
    gap: 30px;
    align-items: center;
    height: 100%;
    padding-top: 20px;
    list-style-type: none;
}

.nav-left {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar-nav .nav-link {
    color: black;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #c3a689;
}

.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 50%;
    max-width: 300px;
}

.nav-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    font-size: 20px;
}

.navbar-toggler {
    padding-top: 0;
    right: 0;
}

.dropdown-menu {
    padding: 0;

}

.dropdown-menu a:hover {
    background-color: transparent;
    color: #c3a689;
}

.logo {
    display: flex;
    justify-content: center;
    max-width: 70%;
}

.store-icons {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: end;
    height: 100%;
    padding-top: 20px;
}

.store-icons img {
    height: 20px;
    width: 20px;
}

/* selection css */

/* Flowers for all the feels  */
.flowers,
.about,
.shop {
    padding: 0;
}

.flower-border,
.about,
.shop {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flower-border img,
.aboutus {
    max-width: 100%;
    height: auto;
    display: block;
}


.main-text,
.about-text,
.shop-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    padding: 0;
    text-align: center;
    color: white;
    z-index: 2;

}

.main-text h1,
.main-text h3 {
    margin: 20px;
    color: #402e32;
    background: none;
    white-space: nowrap;

}

.about h1,
.shop h1 {
    margin: 20px;
    color: #402e32;
    background: none;
    white-space: nowrap;
    padding-bottom: 20px;
    font-size: 70px;
}





.button-shop-now {
    width: 160px;
    height: 60px;
    border-radius: 20px;
    border: 2px solid#402e32;

    background-color: #c3a689;
    text-align: center;
}

.button-shop-now a {
    font-size: 20px;
    background: none;
    color: #402e32;
    text-decoration: none;
}

.button-shop-now:hover {
    background-color: #402e32;
}

.button-shop-now:hover a {
    color: #c3a689;
}

.store-advantages {
    height: 700px;
    margin-top: 180px;
}

.advantage-item,
.photo-item,
.shop-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.advantage-icon {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.advantage-item p {
    font-size: 24px;
    color: #694b51;
    white-space: nowrap;
}

.abous-us {
    margin-top: 180px;
}


.text-about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #694b51;
}

.text-about-us h2 {
    color: #402e32;
}

.btn-about-us {
    width: 130px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid#696263;
    background-color: transparent;
    text-align: center;
}

.btn-about-us a {
    font-size: 20px;
    background: none;
    color: #402e32;
    text-decoration: none;
}

.btn-about-us:hover {
    background-color: #69626333;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 700px;
    color: #402e32;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.send-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    cursor: pointer;
}

.subscribe input {
    padding: 10px;
    width: 400px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}


/* footer */


footer {
    border-top: 2px solid #c3a689;
    padding-top: 10px;
}

.rights {
    display: flex;
    justify-content: center;
}

/* About */

/* section */

.breadcrumb {
    display: flex;
    justify-content: center;
}

.breadcrumb-item a,
.items a {
    text-decoration: none;
    color: rgba(13, 11, 9, 0.856);
}

.text-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    font-size: 24px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

.text-about p1 {
    padding-top: 200px;
}

.text-about p2 {
    padding-bottom: 200px;
}

.our-team {
    padding: 250px 60px;
}

.photo-us {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    width: 100%;
    height: auto;

}

.photo-us img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}


/* shop */

.shop {
    height: 600px;
}

.shop-text {
    align-items: center;
}

.result-sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result-sorting p {
    margin: 0;
    font-size: 20px;
    color: #a0a0a0;
}

.shop-items {
    margin: 40px 20px;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.items p {
    margin-top: 10px;
    font-size: 20px;
}

.shop-item {
    height: 300px;
    margin-bottom: 20px;
    object-fit: cover;

}




/* media запити */

@media (max-width: 1024px) {
    .advantage-item p {
        font-size: 18px;
    }

    .advantage-icon {
        height: 85px;
        width: 85px;
    }
}

@media (max-width: 991px) {
    .nav-left {
        order: 2;
        width: auto;
        max-width: 50px;
    }

    .nav-center {
        order: 1;
        margin-left: 30%;
        max-width: 40%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .offcanvas.offcanvas-end {
        width: 400px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 15px;
    }

    .navbar-nav a {
        font-size: 30px;
        margin-left: 20px;
    }

    .dropdown-item {
        padding: 0;
        display: block;
        width: 80%;
    }





}

@media (max-width: 768px) {
    .main-text h1 {
        font-size: 30px;
    }

    .main-text h3 {
        font-size: 20px;
    }

    .button-shop-now {
        width: 120px;
        height: 40px;
        font-size: 18px;
    }

    .button-shop-now a {
        font-size: 18px;
    }

    .btn-about-us {
        width: 120px;
        height: 40px;
        font-size: 18px;
    }

    .btn-about-us a {
        font-size: 18px;
    }

    .our-team {
        height: auto;
        width: auto;
    }

    .photo-us {
        grid-template-columns: repeat(2, 1fr);
    }

    .shop h1 {
        font-size: 50px;
    }

}


@media (max-width: 480px) {
    .main-text h1 {
        font-size: 24px;
    }

    .main-text h3 {
        font-size: 18px;
    }

    .button-shop-now {
        width: 100px;
        height: 30px;
        font-size: 16px;
    }

    .button-shop-now a {
        font-size: 16px;
    }

    .btn-about-us {
        width: 100px;
        height: 30px;
        font-size: 16px;
    }

    .btn-about-us a {
        font-size: 16px;
    }

    .advantage-icon {
        height: 80px;
        width: 80px;
    }

    .advantage-item p {
        font-size: 18px;
    }


    .photo-us {
        grid-template-columns: 1fr;
    }

    .subscribe input {
        width: 300px;
    }


}